{% load static %}
{% load i18n %}
<footer>
    <link rel="stylesheet" href="{% static 'main/css/chatbot.css' %}">
    <div id="chat-circle" scale>
        <img src="{% static 'main/images/llama_profile.png' %}" alt="profile_llama">
    </div>
    <div id="container">
        <div id="container-head">
            <img id="chat-box-toggle" src="{% static 'main/images/llama_profile.png' %}" alt="profile_llama">
            <div>
                <h2>{% translate "Chat with Llama3" %}</h2>
            </div>
        </div>
        <ul id="chat"></ul>
        <div id="container-foot">
            <textarea id="input-chat" name="input-chat" value="input-chat" placeholder="{% translate 'Type your message' %}" rows="1"></textarea>
        </div>
    </div>
    <script src="{% static 'main/js/llama_chat.js' %}"></script>
</footer>

